@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,100&display=swap');

* {
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    background-image: url("https://images.unsplash.com/photo-1487424439918-bc6b5bef0380?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1633&q=80");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "poppins", sans-serif;
    margin: 0;
    margin-top: -80px;
}

.title {
    /* text-align: center; */
    /* display: flex; */
    /* padding-top: 170px; */
    font-size: 50px;
    font-weight: normal;
}

@media (max-width: 445px) {
    .title {
        font-size: clamp(1.875rem, 0.275rem + 8vw, 2.5rem);
    }
}

.timer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    color: white;
}

.big_text {
    /* text-align: center; */
    /* padding-top: 100px; */
    font-size: 60px;
    margin: 0 20px;
    color: black;
    font-weight: 300;
}

.countdown {
    width: 120px;
    max-width: 100%;
}