@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::after, *::before {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: #c7ab9f;
  color: rgb(84, 84, 84);
}

* {
  box-sizing: content-box !important;
}

.main {
  box-sizing: border-box !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  height: 100vh;
  font-family: "Mulish";
}

.title {
  font-size: 80px;
  text-transform: capitalize;
  text-align: center;
  padding: 0 20px;
  padding-top: 50px;
}
@media (max-width: 390px) {
  .title {
    text-align: center;
  }
}
@media (max-height: 500px) {
  .title {
    font-size: 50px;
  }
}
@media (max-height: 750px) {
  .title {
    padding-top: 0;
  }
}

.win {
  font-size: 0px;
  font-weight: bold;
  height: 80px;
  width: 300px;
  text-align: center;
  padding-bottom: 50px;
  transition: all 0.3s;
}
.win._active {
  font-size: 60px;
}
@media (max-height: 750px) {
  .win {
    padding-bottom: 0;
  }
}

.line {
  background-color: #fff;
  height: 5px;
  text-align: center;
  width: 0;
  top: 233px;
  left: 233px;
  -ms-writing-mode: sideways-lr;
      writing-mode: sideways-lr;
  transform-origin: top left;
  transition: width 1s;
  position: absolute;
}
.line__first_diaganal {
  height: 9px;
  width: 120%;
  top: 30px;
  left: 37.2px;
  rotate: 45deg;
}
@media (max-width: 600px) {
  .line__first_diaganal {
    top: 6%;
    left: 8.5%;
  }
}
.line__second_diaganal {
  height: 9px;
  width: 120%;
  top: 426px;
  left: 32.5px;
  rotate: -45deg;
}
@media (max-width: 600px) {
  .line__second_diaganal {
    top: 91%;
    left: 7%;
  }
}
.line__first_row {
  width: 100%;
  top: 15.3%;
  left: 0px;
}
@media (max-width: 400px) {
  .line__first_row {
    top: 14.5%;
  }
}
.line__second_row {
  width: 100%;
  top: 49%;
  left: 0px;
}
.line__third_row {
  width: 100%;
  top: 83%;
  left: 0px;
}
.line__first_column {
  width: 100%;
  top: 0;
  left: 16.8%;
  rotate: 90deg;
}
.line__second_column {
  width: 100%;
  top: 0;
  left: 50.7%;
  rotate: 90deg;
}
.line__third_column {
  width: 100%;
  top: 0;
  left: 84.6%;
  rotate: 90deg;
}

.game {
  position: relative;
}
.game__row {
  display: flex;
  border-bottom: 8px solid rgba(128, 128, 128, 0.7);
  display: table;
}
.game__row:last-child {
  border: none;
}
.game__cell {
  height: 150px;
  width: 150px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.game__cell:nth-child(2) {
  border-left: 8px solid rgba(128, 128, 128, 0.7);
  border-right: 8px solid rgba(128, 128, 128, 0.7);
}
@media (max-width: 600px) {
  .game__cell {
    height: clamp(5.625rem, 1.754rem + 19.35vw, 9.375rem);
    width: clamp(5.625rem, 1.754rem + 19.35vw, 9.375rem);
  }
}

.x {
  width: 95%;
  height: 95%;
  fill: rgb(84, 84, 84);
  pointer-events: none;
}

.o {
  width: 60%;
  text-align: center;
  fill: rgb(242, 235, 211);
  pointer-events: none;
}

.animation {
  transform: translate(-260px, -210px);
}/*# sourceMappingURL=style.css.map */