body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
}

*,
*::after,
*::after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0,0,10;
}

/* container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner{
    padding: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #515369;
}

/* nav */

.nav{
    display: flex;
}

.nav__link{
    font-size: 13px;
    color: #fff;
    margin-left: 55px;
    text-transform: uppercase;
    text-decoration: none;
    opacity: .75;
    font-weight: 700px;

    transition: opacity .1s linear;
}

.nav__link:first-child{
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/* intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 750px;
    padding-top: 100px;

    background: #2f334d url("../Imges/Intro_Background.jpg") center no-repeat;
    background-size: cover;
}

.intro__texts{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;

    text-align: center;
    color:#fff;
}

.intro__title{
    margin: 0 0 30px;
    /*padding-top: 155px;*/
    font-size: 65px;
    line-height: 1.1;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.intro__subtitle{
    /* padding-top: 45px; */
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    margin-bottom: 65px;
}

/* Button */

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;

    border-radius: 2px;

    font-family: inherit;
    border:none;
    cursor: pointer;

    font-size: 13px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background .1s linear;
}

.btn:hover{
    background-color: #fff;
    color: #000;
}

.btn--red{

    background-color: #e84545;
}

/* features */

.features{
    display: flex;
    flex-wrap: wrap;
    margin: 100px 0;
}

.features__item{
    width: 33.33333%;
    padding:0 25px ;
    margin: 25px 0;

    text-align: center;
}

.features__icon{
    margin-bottom: 25px;
}

.features__title{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    color: #2d3033;
    text-transform: uppercase;
}
.features__text{
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279 ;
}

/* works */

.works{
    display: flex;
    flex-wrap: wrap;
}

.work__item{
    width: 25%;
    position: relative;
    overflow: hidden;
    height: 350px;
    border:white solid 1px;
    border-left: none;
    border-top: none;
}

.work__item:nth-child(4){
    border-right: none;
}

.work__item:nth-child(8){
    border-right: none;
}

.works__img{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;

    transform: translate3d(-50%,-50%,0);
}

.works__content{
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, 90%);

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;

    text-align: center;

    opacity: 0;
    transition: opacity .1s linear;
}

.work__item:hover .works__content{
    opacity: 1;
}

.works__title{
    color: #fff;
    padding: 0 0 10px;
}

.works__text{
    color: #fff;
}

/* team */

.team{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 100px;
    margin-bottom: 30px;
    height: 660px;
}

.team__item{
    width: 25%;
    padding: 0 15px;
}

.team__img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.team__name{
    color: #2d3033;
    font-size: 22px;
    margin-bottom: 10px;
}

.team__position{
    color: #e84545;
    font-size: 13px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.team__text{
    color: #6c7279;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 50px;
}

/* Social */

.Social{
    display: flex;
}

.Social--footer{
    justify-content: center;
}

.Social__item{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border: #e8ecee solid 1px;
    background-color: #fff;

    margin-right: 4px;

    transition: background .1s linear;
}

.Social__item:hover{
    background-color: #e8ecee;
}

.Social__item:hover .Social__icon{
    fill: #575757 ;
}

.Social--footer .Social__item{
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;

    transition: background-color .1s linear;
}

.Social--footer .Social__item:hover{
    background-color: #fff;
}

.Social__icon{
    display: block;
    height: 18px;
    fill: #c6cacc;

    transition: fill .1s linear;
}

.Social--footer .Social__icon{
    fill:#fff;
}

/* Clients */

.clients{
    overflow: hidden;
    background-color: #53354a;
}

.clients__item{
    display: flex;
    flex-wrap: wrap;
}

.clients__photo{
    width: 50%;
    height: 500px;
    position: relative;
}

.clients__img{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.clients_info{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.clients__title{
    font-family: 'Cardo', serif;
    font-size: 36px;
    line-height: 1.16;
    font-style: italic;
    color: #fff;
    margin-bottom: 30px;
}

.clients__text{
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}

/* Download */

.download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 340px;
}

.download__inner{
    margin: 0 auto;
}

.download__title{
    font-weight: 300;
    font-size: 28px;
    color: #2d3033;
    margin-bottom: 15px;
}

.download__subtitle{
    font-weight: 700;
    font-size: 13px;
    color: #2d3033;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.btn__download{
    padding: 14px 80px;
}

/* flooter */

.flooter{
    background-color: #3a3e64;
}

.flooter__info{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
}

.flooter__info__inner{
    padding: 0 15px;
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.loaction{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.loation__text{
    color: rgba(255, 255, 255, 50%);
    font-size: 14px;
    line-height: 1.6;
}

/* cop */

.cop{
    background-color: #313454;
    padding: 25px 0;
    text-align: center;
}

.cop__text{
    line-height: 1.6;
    color: #808080;
}

.cop__text_2{
    color: #fff;
}

/* burger */

.burger{
    display: none;
    padding: 9px 2px;

    background: none;
    border:0;
    cursor: pointer;
}

.burger__item{
    display: block;
    width: 30px;
    height: 3px;

    background-color: #fff;

    position: relative;
}

.burger__item::before,
.burger__item:after{
    content: "";
    width: 100%;
    height: 100%;

    background-color: #fff;

    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item::before{
    top: -8px;
}

.burger__item:after{
    bottom: -8px;
}

/* media */

@media (max-width: 991px){

    /* Nav */
    .nav{
        display: none;
    }

    /* Burgir */
    .burger{
        display: block;
    }

    /* intro */
    .intro__title{
        font-size: 40px;
    }

}

@media (max-width: 767px){
    /* intro */
    .intro{
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }

    .intro__title{
        font-size: 30px;
    }

    .intro__subtitle{
        margin-bottom: 3opx;

        font-size: 16px;
    }
}







